In [13]:
import csv
import pandas as pd

from common import *

In [15]:
NAME = "Statement-Information_1"

In [16]:
original = pd.read_csv(f"input/{NAME}.csv")
original

,Procedure,Statement,Producer Statement,Cost,Result size,Fragment
0,1,1,{},0.000000,1507,"{30,26,32,59,60,52,65,16,1,3}"
1,1,2,{1},1.265561,1004001,"{82,74,91,87,4,1,3,24,27,30,32,52,57,64}"
2,2,3,{},0.450180,647429,"{189,190,204,205,207,203,186,233,222,30}"
3,2,4,{},0.527954,1290853,"{140,128,143,144,146,142,125,175,161,30}"
4,2,5,{},0.474114,2718783,"{3,4,11,12,10,1,114,107,30}"
...,...,...,...,...,...,...
81,10,82,"{77,80}",0.124784,712794,{}
82,10,83,"{79,81}",0.568468,75369,{}
83,10,84,"{79,82}",0.484468,22606,{}
84,10,85,"{83,84}",0.516122,97975,{}
85,10,86,{85},1.634438,1,{}

In [27]:
producer = original.iloc[:, 2].tolist()
producer = [to_array(p) for p in producer]

In [29]:
original.loc[2]

Procedure                                                     2
Statement                                                     3
Producer Statement                                           {}
Cost                                                    0.45018
Result size                                              647429
Fragment              {189,190,204,205,207,203,186,233,222,30}
Name: 2, dtype: object

In [33]:
consumer = [[] for _ in range(len(producer))]
for i, p in enumerate(producer):
    if p == None: 
        continue

    for _p in p:
        consumer[int(_p)-1].append(str(i+1))

In [34]:
consumer = [to_string(c) for c in consumer]

In [35]:
df = original.copy()
df.insert(3, "Consumer statement", consumer)
df

,Procedure,Statement,Producer Statement,Consumer statement,Cost,Result size,Fragment
0,1,1,{},{2},0.000000,1507,"{30,26,32,59,60,52,65,16,1,3}"
1,1,2,{1},{},1.265561,1004001,"{82,74,91,87,4,1,3,24,27,30,32,52,57,64}"
2,2,3,{},{6},0.450180,647429,"{189,190,204,205,207,203,186,233,222,30}"
3,2,4,{},{6},0.527954,1290853,"{140,128,143,144,146,142,125,175,161,30}"
4,2,5,{},{6},0.474114,2718783,"{3,4,11,12,10,1,114,107,30}"
...,...,...,...,...,...,...,...
81,10,82,"{77,80}",{84},0.124784,712794,{}
82,10,83,"{79,81}",{85},0.568468,75369,{}
83,10,84,"{79,82}",{85},0.484468,22606,{}
84,10,85,"{83,84}",{86},0.516122,97975,{}
85,10,86,{85},{},1.634438,1,{}

In [37]:
COLUMNS = ['Procedure', 'Statement', 'producer statement', 'consumer statement',
                'cost', 'result size', 'Fragment']
df.columns = COLUMNS

In [39]:
df.to_csv(f"input/{NAME}.csv", index=False)

In [44]:
dfs = [[] for i in range(10)]
for index, row in df.iterrows():
    r = row.tolist()
    dfs[r[0]-1].append(r)

In [45]:
dfs[0]

[[1, 1, '{}', '{2}', 0.0, 1507, '{30,26,32,59,60,52,65,16,1,3} '],
 [1,
  2,
  '{1}',
  '{}',
  1.265561,
  1004001,
  '{82,74,91,87,4,1,3,24,27,30,32,52,57,64} ']]

In [49]:
path = "input/" + NAME

In [50]:
for i, df in enumerate(dfs):
    d = pd.DataFrame(df, columns=COLUMNS)
    d.to_csv(f"input/{NAME}/Procedure-{i+1}.csv", index=False)